@{
  ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>
<h3>Seach Engines</h3>
<ul>
	<li><a href="http://www.google.com">Google</a></li>
	<li><a href="https://www.bing.com/">Bing</a></li>
	<li><a href="https://za.yahoo.com/?p=us">Yahoo</a></li>
</ul>